<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myFavoriteAutowireType" class="pers.hanchao.loosecoupling.MyFavoriteFruit">
        <property name="fruit" ref="myDay"/>
    </bean>

    <bean id="myDay" class="pers.hanchao.loosecoupling.Apple"/>
    <bean id="orange" class="pers.hanchao.loosecoupling.Orange"/>
</beans>